fieldset {
  margin-left: 1em !important;
}

fieldset input {
  display: block !important;
  margin-bottom: 1em;
  width: 100%;
}

fieldset .volume {
  font-size: 175%;
}

fieldset .volume input {
  display: inline !important;
  margin-left: 0.5em;
  width: calc(100% - 1.5em);
}

fieldset button {
  margin-right: 1em;
  font-size: 150% !important;
  line-height: 0.75 !important;
}


.results {
  height: 13em;
  overflow-y: auto;
}

#app {
  margin: 0 auto;
  max-width: 600px;
}
