<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#18232f">
    <title>Promaudio</title>
    <meta name="description" content="Audio Player Frontend for Prometheus">
  </head>
  <body>
    <div id="app" />
  </body>
</html>
