<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#18232f">
    <title>Latency.at | Off-premises insight for your on-premises Prometheus servers.</title>
    <meta name="description" content="Latency.at measures performance and availability of your sites and services from multiple global locations and provides the results as Prometheus metrics.">
  </head>
  <body>
    <div id="app" />
  </body>
</html>
